<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= f.email_field :email, :placeholder => "Enter Your Email", class:"login-input"  %>


    <%= f.text_field :name, :placeholder => "Name", class:"login-input"  %>


   <%= f.password_field :password, :placeholder => "Password", class:"login-input"  %>

     <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", class:"login-input"  %>


    <% if @user.name != nil %>
    <%= f.text_area :about, :placeholder => "Say something about yourself.", class:"login-input"  %>

  
    <%= f.submit "Edit", class: "btn_sign_up" %>
    <% else %>
    <%= f.submit "Sign Up", class: "btn_sign_up" %>
    <% end %>

<% end %>
