<% @user ||= current_user %>
<div class="stats">
  [&nbsp;&nbsp;
  <p>
    <%= link_to followings_user_path(@user), id: "following", :"data-no-turbolink" => true do %>

        followings <%= @user.followings.count %>

    <% end %>
  </p>

  <p>|&nbsp;&nbsp;&nbsp;
  <%= link_to followers_user_path(@user), id: "followers", :"data-no-turbolink" => true do %>

      followers <%= @user.followers.count %>

  <% end %>
  </p>
  ]

</div>

<div class="follow-button-container">
  <% if current_user %>
      <%= render 'follow_form' %>
  <% end %>
</div>
