<h1>Editing User</h1>

<%= render 'form' %>

<h4>Add Photos</h4>
  <div class="photo-form">
    <%= form_for @user.photos.build, html: { multipart: true, id: "my-awesome-dropzone", class: "dropzone"} do |t| %>

    <%= t.label :name  %>
    <br>
    <%= t.text_field :name %>
    <br>
    <div class="dropzone-previews"></div>
    <br>
    <%= t.hidden_field :imageable_id, :value => @user.id %>
   <%= t.hidden_field :imageable_type, :value => @user.class %>
   <%= @user.set_profile_img %>
    <% end %>
  </div>


<%= link_to 'Show public profile', @user %> |
<%= link_to 'Back', users_path %>
