<style media="screen">



html body {
  height: 100%;
}

.homepage-stat .activity-tags {
  position: relative;
  left: 3em;
  top: 2em;
  .add-new-tag {
    padding: 13px 25px;
  }

}
.diary-stat.homepage-stat.location-date {
    display: inline-block;
    position: relative;
    top: 16em;
    left: -0.5em;
}
/** ---------------------------------------
* Responsive
----------------------------------------*/
@media only screen and (max-width: 825px) {
.container {
  width: 500px;
}

.slider-wrapper {
  height: 260px;
}
}

@media only screen and (max-width: 535px) {
.container {
  padding: 5px;
  width: 100%;
  margin: 40px 0 0 0;
}

.slider-wrapper {
  height: 200px;
}

.slider-wrapper .caption {
  display: none;
}

}

@media only screen and (max-width: 410px) {
.slider-wrapper {
  height: 160px;
}
}
</style>


<div class="home-slider">
  <div class="logo">
    <%= image_tag ("logo-blue.png")  %>
  </div>
  <!-- <div class="hero-inner">
    <div class="hero-logo">

    </div>
    <div class="hero-copy">
    </div>
  </div> -->
</div>

<% if current_user  %>
  <ul class="navigation">
    <li>
      <%= link_to current_user, :"data-no-turbolink" => true do %>
      <span>
      <%=  image_tag "MenuBar-icon-profile.png"  %>
      </span>
      <div class="menu-out">
        <%= image_tag "MenuBar-icon-profile-hover.png"%>
        <p>My Profile</p>
      </div>
    <% end %>
  </li>

    <li>
      <%= link_to user_journeys_path(current_user), :"data-no-turbolink" => true  do %>
        <span>
        <%=  image_tag "MenuBar-icon-Journey.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-Journey-hover.png"%>
          <p>My Journey</p>
        </div>
      <% end %>
    </li>

    <li>
      <%= link_to user_photos_path(current_user), :"data-no-turbolink" => true  do %>
      <span>
      <%=  image_tag "MenuBar-icon-PhotoGallery.png"  %>
      </span>
      <div class="menu-out">
        <%= image_tag "MenuBar-icon-PhotoGallery-hover.png"%>
        <p>Gallery</p>
      </div>
      <% end %>
    </li>

    <li>
      <%= link_to new_journey_path, :"data-no-turbolink" => true do  %>
      <span>
      <%=  image_tag "MenuBar-icon-timeline.png"  %>
      </span>
      <div class="menu-out">
        <%= image_tag "MenuBar-icon-timeline-hover.png"%>
        <p>New Journey</p>
      </div>
      <% end %>
  </li>

  <li>
    <%= link_to user_favourites_path(current_user), :"data-no-turbolink" => true do %>
    <span>
    <%=  image_tag "MenuBar-icon-favorites.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-favorites-hover.png"%>
      <p>Favourites</p>
    </div>
    <% end %>
  </li>
    <!-- <li><a href="#contact">
      <img src="./images/contact.png" />
    </a></li> -->
  </ul>
<% end %>

<div class="homepage-wrapper">

  <div class="homepage-first-section">
  <div class="first-left">
    <div class="first-text">
      <div class="first-left-img">
        <%= image_tag("hp-SectionTitle-TopPicks.png") %>
        <h2>DIARIES OF THE WEEK</h2>
      </div>
      <div class="first-left-text">
        <% if Favourite.most_favourited_diaries.first != nil %>
        <strong><%= link_to Favourite.most_favourited_diaries.first.title, journey_diary_entry_path(Favourite.most_favourited_diaries.first.journey, Favourite.most_favourited_diaries.first ) %></strong>

        <h3><%= Favourite.most_favourited_diaries.first.journey.owner.name %></h3>
          <div class="top-picks-content"><%= filter_string(Favourite.most_favourited_diaries.first.content) %></div>
        <% end %>
      </div>
      <div class="activity-button-container">

        <button id="home-top-picks"class="profile-button">VIEW ALL</button>
        <a href>
          <div class = "button-border" >VIEW ALL</div>
        </a>


      </div>
    </div>
  </div>

  <div class="first-right">
    <div class="first-img">
      <div class="img1">
      <%= image_tag ("hp-TopPicks-img1.jpg") %>
      </div>
      <div class="img2">
      <%= image_tag ("hp-TopPicks-img2.jpg") %>
      </div>
      <div class="img3">
      <%= image_tag ("hp-TopPicks-img3.jpg") %>
      </div>
    </div>
  </div>
  <div class="second-down">
    <dt class="title-single"></dt>
    <dd>
    <% if Favourite.most_favourited_diaries.length > 0 %>
      <% Favourite.most_favourited_diaries.each do |f| %>
        <%= link_to  journey_diary_entry_path(f.journey, f) do %>
        <div class="cards" id="homepage-diary-toggle">
          <div class="card">
            <div class="card-image">
              <%= image_tag (f.photos.sample.picture.url) %>
            </div>
            <div class="card-header">
              <h4><%= f.title %></h4>
            </div>
            <div class="card-copy">
              <h3><%= f.journey.owner.name %></h3>
              <p><%= filter_string(f.content) %></p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
    </dd>
  </div>


</div>



<div class="home-second-section">
  <div class="mid-section-up">
    <div class="flip up-left">
        <div class="board">
            <div class="face front">
                <%= image_tag("hp-DividerSection-img1.jpg") %>
            </div>
            <div class="face back search_results">

            </div>
        </div>
    </div>
    <div class="up-right">
      <p class="moon-light">FIND OUT WHAT'S HAPPENING</p>
      <h1>NEAR YOU.</h1>

      <button id="search_nearby" class="profile-button">SEARCH NEARBY</button>
      <a href>
        <div id="search_nearby" class = "button-border" >SEARCH NEARBY</div>
      </a>
      <%= form_tag tags_path, method: :get, id: "search_tag" do %>
        <%= text_field_tag :search, params[:search], :placeholder => "Search" %>
        <%= submit_tag "Search", :style => "display: none;" %>
      <% end %>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Top</a>
        <div class="tab-content search-top-results">

        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Name</a>
        <div class="tab-content search-name-results">

        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Tag</a>
        <div class="tab-content search-tag-results">

        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link" action="/">Location</a>
        <div class="tab-content search-location-results">

        </div>
      </li>
    </ul>

    </div>
  </div>

  <div class="mid-section-down">
    <div class="down-left">
      <div class="feature-user">
        <div class="feature-user-info">
          <% if Favourite.most_favourable_user[0] != nil %>
        <%= cl_image_tag(Favourite.most_favourable_user[0].profile_img) %>
          <%= link_to Favourite.most_favourable_user[0], :"data-no-turbolink" => true do  %>
        <h3><%= truncate(Favourite.most_favourable_user[0].name, length: 10)%></h3>
        <% end %>
        <% end %>
        </div>
        <p>Most favourable</p>
      </div>
      <div class="feature-user">
        <div class="feature-user-info">
          <% if Tag.most_recommended_user[0] != nil %>
          <%= cl_image_tag(Tag.most_recommended_user[0].profile_img) %>
          <%= link_to Tag.most_recommended_user[0], :"data-no-turbolink" => true do  %>
        <h3><%= Tag.most_recommended_user[0].name %></h3>
          <% end %>
        <% end %>
        </div>
        <p>Most Recommend</p>
      </div>
      <div class="feature-user">
        <% if Relationship.most_followed_user[0] != nil %>
        <div class="feature-user-info">
        <%= cl_image_tag(Relationship.most_followed_user[0].profile_img) %>
          <%= link_to Relationship.most_followed_user[0], :"data-no-turbolink" => true do %>
        <h3><%= Relationship.most_followed_user[0].name %></h3>
        <% end %>
        </div>
        <p>King of Followers (<%= Relationship.most_followed_user[1] %>)</p>
        <% else %>
        <div class="feature-user-info">
        <%= image_tag ('Relationship.most_followed_user[0].profile_img') %>
        <h3>User Name</h3>
        </div>
        <p>King of Followers </p>
        <% end %>
      </div>
    </div>
    <div class="down-right">
      <%= image_tag ("hp-DividerSection-img2.jpg") %>
    </div>
  </div>

</div>






  <section id="slider" class="container">
    <ul class="slider-wrapper">
  <% if current_user != nil && current_user.followings.length > 0%>
    <% current_user.news_feed.each do |d| %>
      <li class="current-slide">
        <div class="diary-wrapper">
          <div class="diary-picture-stat-section" id="homepage-friend-background">
            <div class="diary-picture diary_aside homepage-aside" id="friend-diary-photo">
              <% if d.photos.first %>
                <%= cl_image_tag(d.photos.first.picture.url, :class => "diary_entry_img") %>
              <% else %>
              <%= cl_image_tag("img_placeholder.png", :class => "diary_entry_img") %>
              <% end %>
            </div>
            <div class="diary-stats homepage-slider">
              <div class="diary-stat homepage-stat friend-photo">
                <%= image_tag("profile-UserImage-1.png") %>

                <strong class="friend-name"><%= d.journey.owner.name %></strong>

              </div>

              <div class="homepage-location-date">
              <div class="diary-stat homepage-stat location-date">
                <%= image_tag ('Entries_icon_location.png') %>
                <h3 class="diary-stat-name">LOCATION</h3>
                <p class="diary-stat-content"><%= d.location %></p>
              </div>
              <div class="diary-stat homepage-stat location-date">
                <%= image_tag ('Entries_icon_time.png') %>
                <h3 class="diary-stat-name">DATE</h3>
                <p class="diary-stat-content"><%= d.show_time(d.date) %></p>
              </div>
            </div>
              <div class="diary-stat homepage-stat">
                <%= image_tag ('Entries_icon_tag.png') %>
                <h3 class="diary-stat-name">TAGS</h3>
                <div class="activity-tags">
                   <% d.tags.each do |tag| %>
                      <% if tag.body != "recommended" %>
                      <span>
                          <%= tag.body %>
                      </span>
                        <% end %>
                  <% end %>

                  <!-- <% if current_user == @diary_entry.journey.owner %>
                    <span class="add-new-tag"><%= link_to "Add Tags" %></span>

                  <div class="diary-tag-form">
                    <%= form_for [@diary_entry.journey, @diary_entry, Tag.new] do |t| %>

                    <%= t.text_field :body, :placeholder => 'Descripe your diary' %>
                    <%= t.hidden_field :taggable_id, :value => @diary_entry.id %>
                    <%= t.hidden_field :taggable_type, :value => @diary_entry.class %>
                    <%= t.hidden_field :user_id, :value => current_user.id %>
                    <%= t.submit "Add" %>
                    <% end  %>
                  </div>
                  <% end %> -->
                </div>

              </div>
              <div class="diary-stat slider-content">
                <p><%= filter_string(d.content)%></p>
              </div>
              <div class="homepage-slider-btn">

              <div class="homepage-friend-button">
                <a class="profile-button" href="<%= journey_diary_entry_path(d.journey, d) %>">VIEW ALL</a>
                <div class = "button-border" >VIEW ALL</div>
              </div>
              </div>
            </div>
            <div class="empty-div-slider"></div>
          </div>
      </li>
        <% end %>
    <% else %>

      <% DiaryEntry.all.last(4).each do |d| %>
        <li class="current-slide">
          <div class="diary-wrapper">
            <div class="diary-picture-stat-section" id="homepage-friend-background">
              <div class="diary-picture diary_aside homepage-aside" id="friend-diary-photo">
                <% if d.photos.first %>
                  <%= cl_image_tag(d.photos.first.picture.url, :class => "diary_entry_img") %>
                <% else %>
                <%= cl_image_tag("img_placeholder.png", :class => "diary_entry_img") %>
                <% end %>
              </div>
              <div class="diary-stats homepage-slider">
                <div class="diary-stat homepage-stat friend-photo">
                  <%= image_tag("profile-UserImage-1.png") %>
                  <strong class="friend-name"><%= d.journey.owner.name %></strong>
                </div>

                <div class="homepage-location-date">
                <div class="diary-stat homepage-stat location-date">
                  <%= image_tag ('Entries_icon_location.png') %>
                  <h3 class="diary-stat-name">LOCATION</h3>
                  <p class="diary-stat-content"><%= d.location %></p>
                </div>
                <div class="diary-stat homepage-stat location-date">
                  <%= image_tag ('Entries_icon_time.png') %>
                  <h3 class="diary-stat-name">DATE</h3>
                  <p class="diary-stat-content"><%= d.show_time(d.date)%></p>
                </div>
              </div>
                <div class="diary-stat homepage-stat">
                  <%= image_tag ('Entries_icon_tag.png') %>
                  <h3 class="diary-stat-name">TAGS</h3>
                  <div class="activity-tags">
                     <% d.tags.each do |tag| %>
                        <% if tag.body != "recommended" %>
                        <span>
                            <%= tag.body %>
                        </span>
                          <% end %>
                    <% end %>

                  </div>

                </div>
                <div class="diary-stat homepage-stat content">

                  <p class="diary-stat-content"><%= filter_string(d.content)%> </p>
                  <div class="homepage-friend-button">
                    <a class="profile-button" href="<%= journey_diary_entry_path(d.journey, d) %>">VIEW ALL</a>
                    <div class = "button-border" >VIEW ALL</div>

                  </div>
                </div>
              </div>
            </div>
        </li>
      <% end %>
    <% end %>

    </ul>
    <!-- Sombras -->

    <!-- Controles de Navegacion -->
    <ul id="control-buttons" class="control-buttons"></ul>
  </section>


</div>

<script type="text/javascript">
$(function() {

 var SliderModule = (function() {
  var pb = {};
  pb.el = $('#slider');
  pb.items = {
    panels: pb.el.find('.slider-wrapper > li'),
  }

  // Interval del Slider
  var SliderInterval,
    currentSlider = 0,
    nextSlider = 1,
    lengthSlider = pb.items.panels.length;

  // Constructor del Slider
  pb.init = function(settings) {
    this.settings = settings || {duration: 8000};
    var items = this.items,
      lengthPanels = items.panels.length,
      output = '';

    // Insertamos nuestros botones
    for(var i = 0; i < lengthPanels; i++) {
      if(i == 0) {
        output += '<li class="active"></li>';
      } else {
        output += '<li></li>';
      }
    }

    $('#control-buttons').html(output);

    // Activamos nuestro Slider
    activateSlider();
    // Eventos para los controles
    $('#control-buttons').on('click', 'li', function(e) {
      var $this = $(this);
      if(!(currentSlider === $this.index())) {
        changePanel($this.index());
      }
    });

  }

  // Funcion para activar el Slider
  var activateSlider = function() {
    SliderInterval = setInterval(pb.startSlider, pb.settings.duration);
  }

  // Funcion para la Animacion
  pb.startSlider = function() {
    var items = pb.items,
      controls = $('#control-buttons li');
    // Comprobamos si es el ultimo panel para reiniciar el conteo
    if(nextSlider >= lengthSlider) {
      nextSlider = 0;
      currentSlider = lengthSlider-1;
    }

    controls.removeClass('active').eq(nextSlider).addClass('active');
    items.panels.eq(currentSlider).fadeOut('slow');
    items.panels.eq(nextSlider).fadeIn('slow');

    // Actualizamos los datos del slider
    currentSlider = nextSlider;
    nextSlider += 1;
  }

  // Funcion para Cambiar de Panel con Los Controles
  var changePanel = function(id) {
    clearInterval(SliderInterval);
    var items = pb.items,
      controls = $('#control-buttons li');
    // Comprobamos si el ID esta disponible entre los paneles
    if(id >= lengthSlider) {
      id = 0;
    } else if(id < 0) {
      id = lengthSlider-1;
    }

    controls.removeClass('active').eq(id).addClass('active');
    items.panels.eq(currentSlider).fadeOut('slow');
    items.panels.eq(id).fadeIn('slow');

    // Volvemos a actualizar los datos del slider
    currentSlider = id;
    nextSlider = id+1;
    // Reactivamos nuestro slider -->
    <!-- activateSlider();
  }

  return pb;
 }());

 SliderModule.init({duration: 4000});

});
</script>
