<style>
      html, body {
        height:100%;
        width:100%;
        padding: 0px;
        margin: 0px;
      }
      .tl-timeline {

      }

</style>



<div class="hero">
  <div class="logo">
    <%= image_tag ("logo-blue.png")  %>
  </div>

	<div class="hero-inner">
    <div class="hero-logo">
      <%= image_tag @user.profile_img %>
      <!-- <%= image_tag ("profile-UserImage-1.png")  %> -->
    </div>
		<div class="hero-copy">
			<h1>As You Travel!</h1>
			<p>Who Am I</p>
       <%= render 'stats' %>
		</div>
	</div>

</div>

<ul class="navigation">
  <li><a href="#about">
    <span>
    <%=  image_tag "MenuBar-icon-profile.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-profile-hover.png"%>
      <p>My Profile</p>
    </div>
  </a></li>

	<li>
    <%= link_to user_journeys_path(@user) do %>
      <span>
      <%=  image_tag "MenuBar-icon-Journey.png"  %>
      </span>
      <div class="menu-out">
        <%= image_tag "MenuBar-icon-Journey-hover.png"%>
        <p>My Journey</p>
      </div>
    <% end %>
  </li>

	<li><a href="#portfolio">
    <span>
    <%=  image_tag "MenuBar-icon-PhotoGallery.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-PhotoGallery-hover.png"%>
      <p>Photo Gallery</p>
    </div>
	</a></li>

	<li><a href="#blog">
    <span>
    <%=  image_tag "MenuBar-icon-timeline.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-timeline-hover.png"%>
      <p>My Timeline</p>
    </div>
	</a></li>

	<li><a href="#services">
    <span>
    <%=  image_tag "MenuBar-icon-favorites.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-favorites-hover.png"%>
      <p>Favourites</p>
    </div>
	</a></li>
	<!-- <li><a href="#contact">
		<img src="./images/contact.png" />
	</a></li> -->
</ul>



<span class="nav-link">

</span>


<section>
  <div class="empty-div"><p></p></div>
  <aside>
    <div class="about">
      <%= image_tag ("profile-SectionTitiles-about.png") %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
      <div class="grid-alligned-items">
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length > 0 %>
          <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
            <% end %>
        </a>
        <a href="" class="grid-alligned-item grid-alligned-item-big grid-alligned-item-image">
              <% if @user.owend_journeys.length > 0  %>
              <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
            <% end %>
        </a>
        <a href="" class="grid-alligned-item grid-alligned-item-big">
              <% if @user.owend_journeys.length >0%>
              <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
          <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 %>
          <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
          <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0%>
            <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
          <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 %>
            <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
          <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 %>
            <%= image_tag (@user.owend_journeys.first.photos.sample.picture.url)%>
          <% end %>
        </a>


        <div class="photo_gallery-button">
          <%= link_to "Photo Gallery", user_photos_path(@user) %>
        </div>

    </div>
  </aside>
  <article>
    <div class="overall">
      <%= image_tag ('profile-SectionTitiles-overall.png') %>
      <div class="couter">
        <div class="counter1">
          Traveled
        </div>
        <div class="counter1">
          Wrote
        </div>
        <div class="counter1">
          Captured
        </div>
        <div class="counter2">
          Stayed
        </div>
      </div>
    </div>

    <div class="userTimeline">
      <div class="userTimeline-image1">
        <%= image_tag ('profile-SectionTitiles-timeline.png') %>
      </div>
      <div class="userTimeline-image2">
        <%= image_tag ('profile-timeline-bg.jpg') %>
      </div>
    </div>


    <div class="activity-stream">
      <div class="activity-stream-img">
      <%= image_tag ('profile-SectionTitiles-activities.png') %>
      </div>
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>Trip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="activity-tags">
              <span>Tag</span>
              <span>Tag</span>
              <span>Tag</span>
          </div>

        </div>
      </div>
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>Trip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="activity-tags">
              <span>Tag</span>
              <span>Tag</span>
              <span>Tag</span>
          </div>

        </div>
      </div>
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>Trip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="activity-tags">
            <span>Tag</span>
            <span>Tag</span>
            <span>Tag</span>
        </div>
        </div>
      </div>
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>ip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="activity-tags">
              <span>Tag</span>
              <span>Tag</span>
              <span>Tag</span>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<div class="footer">
  <div class="footer-image">
    <%= image_tag "profile-graphic_MountainLowPoy.png" %>
  </div>
</div>


  <div class="user-timeline">
    <div id="user<%= @user.id %>-timeline" >
    </div>
  </div>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

      <br>
      <br>
  <h3>Friends' Recent</h3>
  <% if @user == current_user %>
    <% @user.followings.each do |friend| %>
      <%= friend.email %> :
      <br>
      <%= friend.owend_journeys.last.diary_entries.last.title %>
      <br>
      <%= friend.owend_journeys.last.diary_entries.last.location %>
      <br>
    <% end %>
  <% end %>

  <br>
  <% if current_user %>
    <div class="follow-me">
      <%= render 'follow_form' %>
    </div>
  <% end %>





    <br>

  <div class="user-journey-list">
  <% @user.owend_journeys.each do |journey| %>
    <div class="user-journey">
    <%= link_to journey.title, journey, :"data-no-turbolink" => true %>
    </div>
  <% end %>
  </div>

  <br>
  <h3><%= link_to "My Favourites", favourites_path %></h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
