<!-- <div class="follow-container"> -->
<!-- </div> -->

<div class="follow-page-wrapper">
<% if @users.any? %>
  <% @users.each do |user| %>
  <div class="follow-container">
  <div class="follow-user-profileimg">
    <%= cl_image_tag(user.profile_img, :width=>75, :height=>75, :crop=>:thumb) %>
  </div>
  <div class="follow-user-info">
    <h1>  <%= link_to user.name, user %></h1>
    <p> Following : <%= link_to user.followings.count, followings_user_path(user) %> | Follower :<%= link_to user.followers.count, followers_user_path(user) %></p>
    <% if user.owend_journeys.last %>
      <span>Last Location:     <%= user.owend_journeys.last.location %></span>
    <% end %>
    <p class="follow-page-about-content">About : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
    <p class="follow-user-detail"></p>
  </div>
  <div class="follow-page-button">
  </div>
  </div>
  <% end %>
<% end %>
</div>
<!--
<div class="comment">
  <div class="comment-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
  </div>
  <div class="comment-content">
    <h1>Another One</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
    <p class="comment-detail">Date or details about this post</p>
  </div>
</div> -->
