
<div id="user<%= @user.id %>-timeline">
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!-- <p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->
<% @user.owend_journeys.each do |journey| %>
  <%= link_to journey.title, journey %>
<% end %>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
