<style>
      html, body {
        height:100%;
        width:100%;
        padding: 0px;
        margin: 0px;
      }
      .tl-timeline {

      }

</style>

<div class="follow-button-container">
  <% if current_user %>
      <%= render 'follow_form' %>
  <% end %>
</div>

</div>

<!-- <ul class="navigation">

  <li>
    <%= link_to user_url(current_user) do %>
    <span>
    <%=  image_tag "MenuBar-icon-profile.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-profile-hover.png"%>
      <p>My Profile</p>
    </div>
    <% end %>
  </li>

  <li>
    <%= link_to user_journeys_path(current_user) do %>
      <span>
      <%=  image_tag "MenuBar-icon-Journey.png"  %>
      </span>
      <div class="menu-out">
        <%= image_tag "MenuBar-icon-Journey-hover.png"%>
        <p>My Journey</p>
      </div>
    <% end %>
  </li>

  <li>
    <%= link_to user_photos_path(current_user) do %>
    <span>
    <%=  image_tag "MenuBar-icon-PhotoGallery.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-PhotoGallery-hover.png"%>
      <p>Gallery</p>
    </div>
    <% end %>
  </li>

  <li><a href="#blog">
    <span>
    <%=  image_tag "MenuBar-icon-timeline.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-timeline-hover.png"%>
      <p>My Timeline</p>
    </div>
  </a></li>

  <li>
    <%= link_to user_favourites_path(current_user) do %>
    <span>
    <%=  image_tag "MenuBar-icon-favorites.png"  %>
    </span>
    <div class="menu-out">
      <%= image_tag "MenuBar-icon-favorites-hover.png"%>
      <p>Favourites</p>
    </div>
    <% end %>
  </li>
  <!-- <li><a href="#contact">
    <img src="./images/contact.png" />
  </a></li> -->
<!-- </ul> -->



<span class="nav-link">

</span>



<div class="profile-wrapper">
  <section id="page-content">
  <div class="empty-div"><p></p></div>
  <aside>
    <div class="about">
      <%= image_tag ("profile-SectionTitiles-about.png") %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

      <div class="grid-alligned-items">
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length > 0 && @user.owend_journeys.first.photos.sample %>
            <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 232, :height => 182,
            :crop => :fill) %>
            <% end %>
        </a>
        <a href="" class="grid-alligned-item grid-alligned-item-big grid-alligned-item-image">
            <% if @user.owend_journeys.length > 0 && @user.owend_journeys.first.photos.sample %>
              <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 464, :height => 182,
               :crop => :fill) %>
            <% end %>
        </a>
        <a href="" class="grid-alligned-item grid-alligned-item-big">
          <% if @user.owend_journeys.length >0 && @user.owend_journeys.first.photos.sample %>
            <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 464, :height => 182,
            :crop => :fill) %>
          <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 && @user.owend_journeys.first.photos.sample %>
            <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 232, :height => 182,
            :crop => :lfill) %>
          <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 && @user.owend_journeys.first.photos.sample %>
          <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 232, :height => 182,
           :crop => :crop) %>
           <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 && @user.owend_journeys.first.photos.sample %>
            <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 232, :height => 182,
            :crop => :crop) %>
           <% end %>
        </a>
        <a href="" class="grid-alligned-item">
          <% if @user.owend_journeys.length >0 && @user.owend_journeys.first.photos.sample %>
            <%= cl_image_tag(@user.owend_journeys.first.photos.sample.picture.full_public_id, :format => "jpg", :width => 232, :height => 182,
             :crop => :lfill) %>
          <% end %>
        </a>

      </div>

      <div class="photo-gallery-button-container">
        <button class="profile-button" href="<%= user_photos_path(@user) %>">VIEW ALL</button>
        <a href="<%= user_photos_path(@user) %>"><div class = "button-border" >VIEW ALL</div></a>
      </div>

      <div class="recomms">
        <%= image_tag ("profile-SectionTitiles-recommendations.png") %>

        <hr id="middle-vertical-line">
        <% if @user.latest_recommendation.first %>
          <% @user.latest_recommendation.first(4).each do |r| %>
          <div class="recomm">
            <h4 class="recomm-name"><%= r.title %></h4>
            <hr class="recomm-underline">
            <% if r.class == Journey %>
            <div class="recomm-text-editor"><%= filter_string(r.description) %></div>
            <% else %>
            <div class="recomm-text-editor"><%= filter_string(r.content) %></div>
            <% end %>
          </div>
          <% end %>
        <% else %>
          <div class="recomm">
            <h4 class="recomm-name">Recommendation 1</h4>
            <hr class="recomm-underline">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
          </div>


        <div class="recomm">
          <h4 class="recomm-name">Recommendation 2</h4>
          <hr class="recomm-underline">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
        </div>

        <div class="recomm">
          <h4 class="recomm-name">Recommendtion 3</h4>
          <hr class="recomm-underline">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
        </div>

        <div class="recomm">
          <h4 class="recomm-name">Recommendation 4</h4>
          <hr class="recomm-underline">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
        </div>
    <% end %>
    </div>

        <!-- <div class="recommendation-body">
          <% @user.find_recommended.each do |r| %>
            <h3>  <%= r.title %> </h3>
              <% if r.class == Journey %>
              <strong>  <%= r.owner.email %> </strong>
                <%= r.description %>
              <% else %>
              <strong>  <%= r.journey.owner.email%><strong>
                <%= r.content %>
            <% end %>
          <% end %>
        </div> -->
  </aside>
  <article>
    <div class="overall">
      <%= image_tag ('profile-SectionTitiles-overall.png') %>
      <div class="couter">
        <div class="counter1">
          Traveled <strong><%= @user.count_places %></strong> Places
        </div>
        <div class="counter1">
          Wrote <strong><%= @user.count_diaries %></strong> Diaries
        </div>
        <div class="counter1">
          Captured <strong><%= @user.count_photos %></strong> Moments
        </div>
        <div class="counter2">
          Stayed <strong><%= @user.count_days %></strong>Days On The Road
        </div>
      </div>
    </div>

    <div class="user-Timeline-section">
      <div class="userTimeline-image1">
        <%= image_tag ('profile-SectionTitiles-timeline.png') %>
      </div>
      <div class="userTimeline-image2">
        <%= image_tag ('profile-timeline-bg.jpg') %>
      </div>
      <div class="timeline-button-container">
        <button class="profile-button timeline-button-border">VIEW TIMELINE</button>
        <div class = "button-border" >VIEW TIMELINE</div>
      </div>
      <div class="map-button-container">
        <button class="profile-button">VIEW MAP</button>
        <div class = "button-border" >VIEW MAP</div>
      </div>
    </div>


    <div class="activity-stream">
      <div class="stream-picture">
        <%= image_tag("profile-activitystream.png") %>
      </div>
      <div class="activity-stream-img">
      <%= image_tag ('profile-SectionTitiles-activities.png') %>
      </div>
      <% if @user.owend_journeys.first %>
        <% @user.owend_journeys.first.diary_entries.last(4).each do |d|%>
        <div class="user-diary-activity">
          <div class="activity-title">
            <%= link_to journey_diary_entry_path(d.journey, d), :"data-no-turbolink" => true do%>
            <h2><%= d.title %></h2>
            <% end %>
            <h3><%= d.location%> | <%=d.date %></h3>
            <div class="stream-content"><%= filter_string(d.content) %></div>

          <div class="activity-tags">
          <%   d.tags.last(3).each do |t| %>
            <% if t.body != "recommended" %>
              <span class="tag-span"><%= t.body %></span>
              <% end %>
          <% end %>
              <!-- <span>Tag</span>
              <span>Tag</span> -->


          </div>
        </div>
        <% end %>
      <% end %>
<!--
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>Trip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="activity-tags">
              <span>Tag</span>
              <span>Tag</span>
              <span>Tag</span>
          </div>

        </div>
      </div>
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>Trip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="activity-tags">
            <span>Tag</span>
            <span>Tag</span>
            <span>Tag</span>
        </div>
        </div>
      </div>
      <div class="user-diary-activity">
        <div class="activity-title">
          <h2>ip to India</h2>
          <h3>Location, Date</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="activity-tags">
              <span>Tag</span>
              <span>Tag</span>
              <span>Tag</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="activity-button-container">
      <button class="profile-button" href="<%= user_journeys_path(@user) %>">VIEW ALL</button>
      <a href="<%= user_journeys_path(@user) %>"><div class = "button-border" >VIEW ALL</div></a>
    </div>


  </article>
</section>
</div>

<div class="footer">
  <div class="footer-image">
    <%= image_tag "profile-graphic_MountainLowPoy.png" %>
  </div>
</div>

<!--
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

      <br>





    <br>

  <div class="user-journey-list">
  <% @user.owend_journeys.each do |journey| %>
    <div class="user-journey">
    <%= link_to journey.title, journey, :"data-no-turbolink" => true %>
    </div>
  <% end %>
  </div> -->

  <!-- <br>
  <h3><%= link_to "My Favourites", user_favourites_path(current_user) %></h3> -->

  <div class="hidden-map">
  <a id="demo01" href="#animatedModal">My Path</a>

  <!--DEMO01-->
  <div id="animatedModal">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="close-animatedModal">
      <Strong>Go Back!</Strong>
    </div>

    <div class="modal-content">
      <!--Your modal content goes here-->
      <div id="path_map"><%= link_to 'My Path',  user_journeys_path(@user) %></div>

    </div>
  </div>
  </div>
