



<div class="favourites-wrapper">
<h2 class="favourites-title"><%= image_tag "favourite-title.png" %></h2>
  <% if @favourites.length > 0  %>
    <% @favourites.each do |f| %>
    <% if f.favourable.class == Journey %>
      <%= link_to journey_path(f.favourable) do %>
      <div class="cards">
        <div class="card">
          <div class="card-image">
            <%= image_tag (f.favourable.feat_img) %>
          </div>
          <div class="card-header">
            <h4><%= f.favourable.title %></h4>
          </div>
          <div class="card-copy">
            <h3><%= f.favourable.owner.name %></h3>
            <p><%= f.favourable.description%></p>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
      <%= link_to journey_diary_entry_path(f.favourable.journey, f.favourable) do %>
      <div class="cards">
        <div class="card">
          <div class="card-image">
            <%= image_tag (f.favourable.photos.sample.picture.url) %>
          </div>
          <div class="card-header">
            <h4><%= f.favourable.title %></h4>
          </div>
          <div class="card-copy">
            <h3><%= f.favourable.journey.owner.name %></h3>
            <p><%= filter_string(f.favourable.content) %></p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
<% end %>
</div>
