<ol>
<% @search_results.each do |t| %>
  <% if t.class == DiaryEntry %>
    <%= link_to [t.journey, t] do%>
    <li>
      <div class="search-result">
      <h4> "Diary" :</h4>
      <p><%= t.title %></p>
      <p><%= t.location %></p>
      </div>
    </li>
    <% end %>
  <% else %>
    <%= link_to t do%>
    <li>
      <div class="search-result">
      <h4>"Journey" :</h4>
      <p><%= t.title %></p>
      <p><%= t.location %></p>
      </div>
    </li>
    <% end %>
  <% end %>
<% end %>
</ol>
