<ol>
<% @search_results.each do |t| %>
  <% if t.class == DiaryEntry %>
    <li>
      <div class="search-result">
        <%= link_to journey_diary_entry_path(t.journey, t), :"data-no-turbolink" => true do%>
      <h4> "Diary" :</h4>
      <% end %>
      <p><%= t.title %></p>
      <p><%= t.location %></p>
      </div>
    </li>
  <% else %>
    <%= link_to t, :"data-no-turbolink" => true do%>
    <li>
      <div class="search-result">
      <h4>"Journey" :</h4>
      <p><%= t.title %></p>
      <p><%= t.location %></p>
      </div>
    </li>
    <% end %>
  <% end %>
<% end %>
</ol>
