<ol>
<% @search_results.each do |t| %>
  <% if t.class == DiaryEntry %>
    <li>
      <div class="search-result">
      <h4> &lt;Diary&gt;</h4>
      <%= link_to journey_diary_entry_path(t.journey, t), :"data-no-turbolink" => true, method: :get do%>
      <p><%= t.title %> | <%= t.location %></p>
      </div>
      <% end %>
    </li>
  <% else %>
    <li>
      <div class="search-result">
      <h4>&lt;Journey&gt;</h4>
      <%= link_to t, :"data-no-turbolink" => true do%>
      <p><%= t.title %> | <%= t.location %></p>

      </div>
      <% end %>
    </li>
  <% end %>
<% end %>
</ol>
