<div class="diary_entry_block">
  <%= link_to journey_diary_entry_path(diary_entry.journey, diary_entry), :"data-no-turbolink" => true do %>
  <div>
    <%= cl_image_tag (diary_entry.photos.first ? "#{diary_entry.photos.first.picture.url}" : ""),  width: "200", height: "200", crop: "lfill", class: "diary_img_preview" %>
  </div>
  <div class="diary_text_preview">
    <span class="diary-title">
      <%= diary_entry.title %>
    </span>
    <span>
      <%= truncate(diary_entry.location, length: 15) %> |
      <%= "Day #{((diary_entry.date - diary_entry.journey.start_date) / 1.day).ceil + 1}" %>
    </span>
  </div>
  <% end %>
</div>
