<!-- <h1>DiaryEntries#show</h1>
<p>Find me in app/views/diary_entries/show.html.erb</p> -->
<h1><%= @diary_entry.title %></h1>
  <p>Location: <%= @diary_entry.location %></p>
  <br>
  <p>Time: <%= @diary_entry.date %></p>
  <br>
  <p>Recommendations: <%= @diary_entry.recommendation %></p>
  <br>
  <p>Content: <%= @diary_entry.content %></p>
  <br>
  <div class="-diary_photos">
  

  </div>
