
<body>


<h1><%= link_to @diary_entry.title, journey_diary_entry_path(@diary_entry.journey, @diary_entry) %></a></h1>

  <strong><%= link_to "Edit", edit_journey_diary_entry_path(@diary_entry.journey, @diary_entry) %></strong>
  <p>Location: <%= @diary_entry.location %></p>
  <br>
  <p>Longitude : <%= @diary_entry.longitude %> </p>
  <br>
  <p>Latitude : <%= @diary_entry.latitude %> </p>
  <br>
  <p>Time: <%= @diary_entry.date %></p>
  <br>
  <p>Recommendations: <%= @diary_entry.recommendation %></p>
  <br>
  <p>Content: <%= @diary_entry.content %></p>
  <br>

  <label>My Photos</label>
  <div class="-diary_photos">
  <% @diary_entry.photos.each do |p| %>
      <%= image_tag "#{p.picture.url}" %>
      <% end %>
  </div>


  <div class="photo-form">
    <%= form_for Photo.new, html: { multipart: true } do |t| %>

    <%= t.label :name  %>
    <br>
    <%= t.text_field :name %>
    <br>
    <%= t.file_field :picture %>
    <br>
    <%= t.hidden_field :picture_cache %>
    <%= t.hidden_field :imageable_id, :value => @diary_entry.id %>
    <%= t.hidden_field :imageable_type, :value => @diary_entry.class %>
    <%= t.submit "Add" %>
    <% end  %>

  </div>
  <div id="map"></div>
</body>
