
<body>


<h1><%= link_to @diary_entry.title, journey_diary_entry_path(@diary_entry.journey, @diary_entry) %></a></h1>

  <strong><%= link_to "Edit", edit_journey_diary_entry_path(@diary_entry.journey, @diary_entry) %></strong>
  <p>Location: <%= @diary_entry.location %></p>
  <br>
  <p>Longitude : <%= @diary_entry.longitude %> </p>
  <br>
  <p>Latitude : <%= @diary_entry.latitude %> </p>
  <br>
  <p>Time: <%= @diary_entry.date %></p>
  <br>
  <p>Recommendations: <%= @diary_entry.recommendation %></p>
  <br>
  <p>Content: <%= @diary_entry.content %></p>

  <h4>Tags :</h4>
    <div id="diary-tags-list" >

        <% @diary_entry.tags.each do |tag| %>
          <div class="each-tag">
            <%= tag.body %>
          </div>
        <% end  %>

  </div>

  <% if current_user == @diary_entry.journey.owner %>
    <div class="add-new-tag">
      <h4><%= link_to "Add Tags" %></h4>
    </div>

  <div class="tag-form">
    <%= form_for [@diary_entry.journey, @diary_entry, Tag.new] do |t| %>

    <%= t.label :Description  %>
    <%= t.text_field :body, :placeholder => 'Descripe your diary' %>
    <%= t.hidden_field :taggable_id, :value => @diary_entry.id %>
    <%= t.hidden_field :taggable_type, :value => @diary_entry.class %>
    <%= t.submit "Add" %>
    <% end  %>
  </div>
  <% end %>

  <br>
  <br>



  <a id="demo01" href="#animatedModal">DEMO01</a>

    <!--DEMO01-->
    <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div class="close-animatedModal">
            CLOSE MODAL
        </div>

        <div class="modal-content">
                  <!--Your modal content goes here-->
                  <label id="photos-list">My Photos</label>
                  <div class="-diary_photos">
                    <% @diary_entry.photos.each do |p| %>
                    <%= image_tag "#{p.picture.url}" %>
                    <% end %>


                  </div>
        </div>
    </div>



  <div class="photo-form">
    <%= form_for Photo.new, html: { multipart: true, id: "my-awesome-dropzone", class: "dropzone"} do |t| %>
      <%= t.label :name  %>
      <br>
      <%= t.text_field :name %>
      <br>
      <div class="dropzone-previews"></div>
      <br>
      <!-- <%= t.hidden_field :picture %> -->
      <%= t.hidden_field :imageable_id, :value => @diary_entry.id %>
      <%= t.hidden_field :imageable_type, :value => @diary_entry.class %>
      <%= t.submit "Add", class: "submit-picture"  %>
    <% end  %>

  </div>

  <%= render partial: 'comments/list', locals: { commentable: @diary_entry }  %>

  <% if current_user %>
    <h4>Write a comment:</h4>
    <%= form_for [@diary_entry.journey, @diary_entry, @comment], :html => {:class => "comment-form"} do |f| %>
    <%= render partial: 'comments/form', locals: { f: f, commentable: @diary_entry} %>
    <% end %>

  <% else %>
    <p>Please <%= link_to "log in", login_path %> to add a comment.</p>
  <% end %>



  <div id="map"></div>

</body>
