<!DOCTYPE html>
<body>

    <div class="back-img-diary">
      <div class="logo">
        <%= link_to root_url do%>
        <%= image_tag ("logo-blue.png")  %>
        <% end %>
      </div>

      <div class="hero-inner">
        <div class="hero-copy">
          <h1 class="diary-title"><%= @diary_entry.title %></h1>
            <h2>Written by <%= @user.email %></h2>

        </div>
      </div>

    </div>

    <ul class="navigation">
      <li>
        <%= link_to current_user, :"data-no-turbolink" => true do %>
        <span>
        <%=  image_tag "MenuBar-icon-profile.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-profile-hover.png"%>
          <p>My Profile</p>
        </div>
      <% end %>
    </li>

      <li>
        <%= link_to user_journeys_path(@user) do %>
          <span>
          <%=  image_tag "MenuBar-icon-Journey.png"  %>
          </span>
          <div class="menu-out">
            <%= image_tag "MenuBar-icon-Journey-hover.png"%>
            <p>My Journey</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to user_photos_path(current_user) do %>
        <span>
        <%=  image_tag "MenuBar-icon-PhotoGallery.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-PhotoGallery-hover.png"%>
          <p>Gallery</p>
        </div>
        <% end %>
      </li>

      <li>
        <%= link_to new_journey_path, :"data-no-turbolink" => true do  %>
        <span>
        <%=  image_tag "MenuBar-icon-timeline.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-timeline-hover.png"%>
          <p>New Journey</p>
        </div>
        <% end %>
    </li>

      <li>
        <%= link_to user_favourites_path(current_user) do %>
        <span>
        <%=  image_tag "MenuBar-icon-favorites.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-favorites-hover.png"%>
          <p>Favourites</p>
        </div>
        <% end %>
    </li>
      <!-- <li><a href="#contact">
        <img src="./images/contact.png" />
      </a></li> -->
    </ul>



<div class="diary-wrapper">
  <div class="diary-picture-stat-section">
    <div class="diary-picture diary_aside">
      <% if @diary_entry.photos.first %>
        <%= cl_image_tag(@diary_entry.photos.first.picture.url, :class => "diary_entry_img") %>
      <% else %>
      <%= cl_image_tag("img_placeholder.png", :class => "diary_entry_img") %>
      <% end %>
    </div>

    <div class="diary-stats diary_article">
      <div class="diary-stat">
        <%= image_tag ('Entries_icon_location.png') %>
        <h3 class="diary-stat-name">LOCATION</h3>
        <p class="diary-stat-content"><%= @diary_entry.location %></p>
      </div>
      <div class="diary-stat">
        <%= image_tag ('Entries_icon_time.png') %>
        <h3 class="diary-stat-name">DATE</h3>
        <p class="diary-stat-content"><%= @diary_entry.date %></p>
      </div>
      <div class="diary-stat">
        <%= image_tag ('Entries_icon_tag.png') %>
        <h3 class="diary-stat-name">TAGS</h3>
        <div class="activity-tags">
           <% @diary_entry.tags.each do |tag| %>
              <% if tag.body != "recommended" %>
              <span>
                  <%= tag.body %>
              </span>
                <% end %>
          <% end %>

          <% if current_user == @diary_entry.journey.owner %>
            <span class="add-new-tag"><%= link_to "Add Tags" %></span>



          <div class="tag-form">
            <%= form_for [@diary_entry.journey, @diary_entry, Tag.new] do |t| %>

            <%= t.text_field :body, :placeholder => 'Descripe your diary' %>
            <%= t.hidden_field :taggable_id, :value => @diary_entry.id %>
            <%= t.hidden_field :taggable_type, :value => @diary_entry.class %>
            <%= t.hidden_field :user_id, :value => current_user.id %>
            <%= t.submit "Add" %>
            <% end  %>
          </div>
          <% end %>
        </div>

      </div>
      <div class="diary-stat">
        <%= image_tag ('Entries_icon_tips.png') %>
        <h3 class="diary-stat-name">TIPS</h3>
        <p class="diary-stat-content"><%= @diary_entry.recommendation %> </p>

      </div>
    </div>
  </div>

  <div class="diary-content-picture-section">
    <div class="diary-content diary_aside">
      <div class="diary-content-left"><%= filter_string(@diary_entry.content) %></div>
      <% if current_user != @diary_entry.journey.owner%>
      <div class="recommend diary-content">
        <% if @diary_entry.tags.where(user_id: current_user.id, body: "recommended").size > 0 %>
          <button class="recommend-alreday" type="button" name="button">Recommend</button>
        <% else %>
        <div class="recommend-form">
          <%= form_for [@diary_entry.journey, @diary_entry, Tag.new] do |t| %>
          <%= t.hidden_field :body, :value=> 'recommended' %>
          <%= t.hidden_field :taggable_id, :value => @diary_entry.id %>
          <%= t.hidden_field :taggable_type, :value => @diary_entry.class %>
          <%= t.hidden_field :user_id, :value => current_user.id %>
          <%= t.submit "Recommend" %>
          <% end  %>
        </div>
        <% end %>
      </div>
      <div class="favourite-diary">
        <% if @diary_entry.favourites.where(user_id: current_user.id).length > 0 %>
          <button class="f-already">
            <span class="fa fa-heart">
              </span>
          </button>
          <div class="favourite-form-already">
            <%= form_for [@diary_entry.journey, @diary_entry, @diary_entry.favourites.where(user_id: current_user.id)[0]], method: :delete do |f| %>
            <%= f.button :class => "submit-already" %>
            <% end %>
          </div>
        <% else %>
          <button class="no-f-yet">
            <span class="fa fa-heart">
              </span>
          </button>
          <div class="favourite-form">
            <%= form_for [@diary_entry.journey, @diary_entry, Favourite.new] do |f| %>
            <%= f.button :class => "f-submit" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
      <% if current_user == @diary_entry.journey.owner %>
      <div class="edit-journey diary-edit">
      <button><%= link_to "Edit", edit_journey_diary_entry_path(@journey, @diary_entry), :"data-no-turbolink" => true %></button>
    </div>
    <% end %>

    </div>
    <div class="diary-picture diary_article">
      <% if @diary_entry.photos.second %>
        <%= cl_image_tag(@diary_entry.photos.second.picture.url, :class => "diary_entry_img diary_entry_img2") %>
      <% else %>
      <%= cl_image_tag("img_placeholder.png", :class => "diary_entry_img diary_entry_img2") %>
      <% end %>
    </div>

  </div>

  <div class="comment-form-list-section">
    <div class="diary-comment-form diary_aside">
      <%= image_tag ("Entries_SectionTitle_Comments.png") %>
      <% if current_user %>

        <%= form_for [@diary_entry.journey, @diary_entry, @comment], :html => {:class => "comment-form"} do |f| %>
        <%= render partial: 'comments/form', locals: { f: f, commentable: @diary_entry} %>
        <% end %>
      <% else %>
        <p>Please <%= link_to "log in", login_path %> to add a comment.</p>
      <% end %>
    </div>

    <div class="comment-list diary_article">
      <%= render partial: 'comments/list', locals: { commentable: @diary_entry }  %>

    </div>
  </div>

</div>

</body>
