
<body>


<h1><%= link_to @diary_entry.title, journey_diary_entry_path(@diary_entry.journey, @diary_entry) %></a></h1>

  <strong><%= link_to "Edit", edit_journey_diary_entry_path(@diary_entry.journey, @diary_entry) %></strong>
  <p>Location: <%= @diary_entry.location %></p>
  <br>
  <p>Longitude : <%= @diary_entry.longitude %> </p>
  <br>
  <p>Latitude : <%= @diary_entry.latitude %> </p>
  <br>
  <p>Time: <%= @diary_entry.date %></p>
  <br>
  <p>Recommendations: <%= @diary_entry.recommendation %></p>
  <br>
  <p>Content: <%= @diary_entry.content %></p>
  <br>

  <label id="photos-list">My Photos</label>
  <div class="-diary_photos">
  <% @diary_entry.photos.each do |p| %>
      <%= image_tag "#{p.picture.url}" %>
      <% end %>
  </div>


  <div class="photo-form">
    <%= form_for Photo.new, html: { multipart: true, id: "my-awesome-dropzone", class: "dropzone"} do |t| %>

      <%= t.label :name  %>
      <br>
      <%= t.text_field :name %>
      <br>
      <div class="dropzone-previews"></div>
      <br>
      <!-- <%= t.hidden_field :picture %> -->
      <%= t.hidden_field :imageable_id, :value => @diary_entry.id %>
      <%= t.hidden_field :imageable_type, :value => @diary_entry.class %>
      <%= t.submit "Add", class: "submit-picture"  %>
    <% end  %>

  </div>

  <div class="comments">
  <h4>Comments:</h4>

    <% @diary_entry.comments.each do |comment| %>
      <p>
        <%= "#{comment.user.email}: #{comment.body}" %><br>
        Added on: <%= comment.created_at %>
      </p>
    <% end %>
  </div>


  <% if current_user %>
     <h4>Write a comment:</h4>

    <%= form_for [@diary_entry.journey, @diary_entry, @comment], :html => {:class => "comment-form"} do |f| %>
      <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
              <ul>
                      <% @comment.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
      <% end %>

        <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :body %>
        <%= f.hidden_field :commentable_id, :value => @diary_entry.id %>
        <%= f.hidden_field :commentable_type, :value => @diary_entry.class %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% else %>
    <p>Please <%= link_to "log in", login_path %> to add a comment.</p>
  <% end %>



  <div id="map"></div>
</body>
