<h1><%= @journey.title %>'s Photo Gallery</h1>
  <h2><%= @journey.start_date %> - <%= @journey.end_date %></h2>
  <h2><%= @journey.location %></h2>
  <p>Add a photo: </p>
  <div class="gallery-container">
    <% @journey.photo_gallery.each do |p| %>

      <div class="each-photo">
        <%= link_to journey_photo_path(@journey, p) do %>
          <%= image_tag (p.picture.thumb.url) %>
          <h4><%= p.name %></h4>
        <% end %>
      </div>

    <% end %>
  </div>
