<!DOCTYPE html>

<body>

    <div class="back-img-journey">
      <div class="logo">
        <%= link_to root_url do%>
        <%= image_tag ("logo-blue.png")  %>
        <% end %>
      </div>
      <div class="journey-header-inner">
        <div class="journey-header-copy">
          <h1 class="journey-title"><%= @journey.title %></h1>
            <p class="journey-content"><%= @journey.description %></p>
        </div>

        <div class="journey-location-date">
          <div class="first-book">
              <div class="journey-location-icon-sm">
                <%= image_tag ("Entries_icon_location.png" )%> <strong>Location</strong>
              </div>
              <div class="journey-location-sm">
                  <strong><%= @journey.location %></strong>
              </div>
          </div>
          <div class="second-book">
            <div class="journey-location-icon-sm data-icon-book">
              <%= image_tag ("Entries_icon_time.png" )%> <strong>Start Date</strong>
            </div>
            <div class="journey-location-sm data-on-book">
                <strong><%= @journey.show_time(@journey.start_date) %></strong>
            </div>

          </div>
          <div class="third-book">
            <div class="journey-location-icon-sm data-icon-book">
              <%= image_tag ("Entries_icon_time.png" )%> <strong>End Date</strong>
            </div>
            <div class="journey-location-sm data-on-book">
                <strong><%=  @journey.show_time(@journey.end_date) %></strong>
            </div>

          </div>
        </div>
        <div class="journey-stat">
          <%= image_tag ('Entries_icon_tag.png') %>
          <h3 class="journey-stat-name">TAGS</h3>
          <div class="activity-tags">
             <% @journey.tags.each do |tag| %>
                <% if tag.body != "recommended" %>
                <span>
                    <%= tag.body %>
                </span>
                  <% end %>
            <% end %>

            <% if current_user == @journey.owner %>
              <span class="add-new-tag"><%= link_to "Add Tags" %></span>



              <div class="tag-form">
                <%= form_for [@journey, Tag.new] do |t| %>

                <%= t.text_field :body, :placeholder => 'Descripe your journey' %>
                <%= t.hidden_field :taggable_id, :value => @journey.id %>
                <%= t.hidden_field :taggable_type, :value => @journey.class %>
                <%= t.hidden_field :user_id, :value => current_user.id %>
                <%= t.submit "Add" %>
                <% end  %>
              </div>
            <% end %>
          </div>
      </div>
        <% if current_user != @journey.owner%>
        <div class="recommend">
          <% if @journey.tags.where(user_id: current_user.id, body: "recommended").size > 0 %>
            <button class="recommend-alreday" type="button" name="button">Recommend</button>
          <% else %>
            <div class="recommend-form">
              <%= form_for [@journey, Tag.new] do |t| %>
              <%= t.hidden_field :body, :value=> 'recommended' %>
              <%= t.hidden_field :taggable_id, :value => @journey.id %>
              <%= t.hidden_field :taggable_type, :value => @journey.class %>
              <%= t.hidden_field :user_id, :value => current_user.id %>
              <%= t.submit "Recommend" %>
              <% end  %>
            </div>
          <% end %>
        </div>
        <% if @journey.favourites.where(user_id: current_user.id).length > 0 %>
          <button class="f-already">
            <span class="fa fa-heart">
              </span>
          </button>
          <div class="favourite-form-already">
            <%= form_for [@journey, @journey.favourites.where(user_id: current_user.id)[0]], method: :delete do |f| %>
            <%= f.button :class => "submit-already" %>
            <% end %>
          </div>
        <% else %>
          <button class="no-f-yet">
            <span class="fa fa-heart">
              </span>
          </button>
          <div class="favourite-form">
            <%= form_for [@journey, Favourite.new] do |f| %>
            <%= f.button :class => "f-submit" %>
          </div>
            <% end %>
        <% end %>
      <% end %>
      <% if current_user == @journey.owner %>
          <div class="edit-journey">
            <button><%= link_to "Edit", edit_journey_path(@journey) %></button>
          </div>
      <% end %>
  </div>
</div>



    <ul class="navigation">
      <li>
        <%= link_to current_user, :"data-no-turbolink" => true do %>
        <span>
        <%=  image_tag "MenuBar-icon-profile.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-profile-hover.png"%>
          <p>My Profile</p>
        </div>
      <% end %>
    </li>

      <li>
        <%= link_to user_journeys_path(current_user) do %>
          <span>
          <%=  image_tag "MenuBar-icon-Journey.png"  %>
          </span>
          <div class="menu-out">
            <%= image_tag "MenuBar-icon-Journey-hover.png"%>
            <p>My Journey</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to user_photos_path(current_user), :"data-no-turbolink" => true do %>
        <span>
        <%=  image_tag "MenuBar-icon-PhotoGallery.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-PhotoGallery-hover.png"%>
          <p>Gallery</p>
        </div>
        <% end %>
      </li>
      <li>
        <%= link_to new_journey_path, :"data-no-turbolink" => true do  %>
        <span>
        <%=  image_tag "MenuBar-icon-timeline.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-timeline-hover.png"%>
          <p>New Journey</p>
        </div>
        <% end %>
    </li>

      <li>
        <%= link_to user_favourites_path(current_user), :"data-no-turbolink" => true do %>
        <span>
        <%=  image_tag "MenuBar-icon-favorites.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-favorites-hover.png"%>
          <p>Favourites</p>
        </div>
        <% end %>
    </li>
      <!-- <li><a href="#contact">
        <img src="./images/contact.png" />
      </a></li> -->
    </ul>



<div class="journey-wrapper">

  <div class="journey-diaries-section">
    <div class="new_diary_entry_block diary_entry_block">
      <%= link_to new_journey_diary_entry_path(@journey), :"data-no-turbolink" => true do %>
        <%= cl_image_tag("add_new.png") %>
      <% end %>
    </div>
    <% if @journey.diary_entries.any? %>
      <%= render @diary_entries %>
    <% end %>

    <div class="journey-photo-gallery">
      <strong><%= link_to "Photo Gallery", gallery_journey_path(@journey) %></strong>
    </div>

  </div>

  <% if @journey.diary_entries.size > 0 %>
    <div id="journey_path_map" data-diaries="<%=@journey.diary_entries.to_json%>"></div>
  <% else %>
    <div id="journey_path_map" data-diaries="<%=@journey.to_json%>"></div>
  <% end %>

  <div class="comment-form-list-section">
    <div class="comment-form journey_aside">
      <%= image_tag ("Entries_SectionTitle_Comments.png") %>
      <% if current_user %>

        <%= form_for [@journey, @comment], :html => {:class => "comment-form"} do |f| %>
        <%= render partial: 'comments/form', locals: { f: f, commentable: @journey} %>
        <% end %>
      <% else %>
        <p>Please <%= link_to "log in", login_path %> to add a comment.</p>
      <% end %>

    </div>
    <div class="comment-list journey_article">
      <%= render partial: 'comments/list', locals: { commentable: @journey }  %>

  </div>

</div>

</body>
