<h1><%= @journey.title %></h1>


<p>Feature Image: </p>
<p>Description: <%= @journey.description %></p>
<p>location: <%= @journey.location %></p>
<p>From: <%= @journey.start_date %></p>
<p>To: <%= @journey.end_date %></p>
<p>Owner: <%= @journey.owner.email %></p>


  <h4>Tags :</h4>
    <div id="journey-tags-list" >

        <% @journey.tags.each do |tag| %>
          <div class="each-tag">
            <%= tag.body %>
          </div>
        <% end  %>

  </div>

  <% if current_user == @journey.owner %>
    <div class="add-new-tag">
      <h4><%= link_to "Add Tags" %></h4>
    </div>

  <div class="tag-form">
    <%= form_for [@journey, Tag.new] do |t| %>

    <%= t.label :Description  %>
    <%= t.text_field :body, :placeholder => 'Descripe Your Journey' %>
    <%= t.hidden_field :taggable_id, :value => @journey.id %>
    <%= t.hidden_field :taggable_type, :value => @journey.class %>
    <%= t.submit "Add" %>
    <% end  %>
  </div>
  <% end %>

  <br>
  <br>

<h1>Diaries</h1>


<%= link_to 'New Diary', new_journey_diary_entry_path(@journey) %>


  <% if @journey.diary_entries.any? %>
    <ul>
      <li class="all_diaries">
      <%= render @diary_entries %>
      </li>
    </ul>
  <% else %>
    <h2>No diary yet</h2>
  <% end %>



  <a id="demo01" href="#animatedModal">My Path</a>

    <!--DEMO01-->
    <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div class="close-animatedModal">
                Back
        </div>

        <div class="modal-content">
                  <!--Your modal content goes here-->


                  <div id="path_map"><%= link_to 'My Path', journey_diary_entries_path(@journey) %></div>
        </div>
    </div>
  <h4>Add Photos</h4>
    <div class="photo-form">
      <%= form_for @journey.photos.build, html: { multipart: true, id: "my-awesome-dropzone", class: "dropzone"} do |t| %>

      <%= t.label :name  %>
      <br>
      <%= t.text_field :name %>
      <br>
      <div class="dropzone-previews"></div>
      <br>
      <%= t.hidden_field :imageable_id, :value => @journey.id %>
     <%= t.hidden_field :imageable_type, :value => @journey.class %>
      <% end  %>
    </div>



<div id="path_map"><%= link_to 'My Path', journey_diary_entries_path(@journey) %></div>

<%= render 'comments/list' %>

<% if current_user %>
  <h4>Write a comment:</h4>
  <%= form_for [@journey, @comment], :html => {:class => "comment-form"} do |f| %>
  <%= render partial: 'comments/form', locals: { f: f } %>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", login_path %> to add a comment.</p>

<% end %>
