<h1><%= @journey.title %></h1>


<p>Feature Image: </p>
<p>Description: <%= @journey.description %></p>
<p>location: <%= @journey.location %></p>
<p>From: <%= @journey.start_date %></p>
<p>To: <%= @journey.end_date %></p>
<p>Owner: <%= @journey.owner.email %></p>

<h1>Diaries</h1>


<%= link_to 'New Diary', new_journey_diary_entry_path(@journey) %>


<% if @journey.diary_entries.any? %>
  <ul>
    <li class="all_diaries">
    <%= render @diary_entries %>
    </li>
  </ul>
<% else %>
  <h2>No diary yet</h2>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@journey, @comment]) do |f| %>

<div class="field">
<%= f.label :comment %><br />
<%= f.text_area :body %>
<%= f.hidden_field :commentable_id, :value => @journey.id %>
<%= f.hidden_field :commentable_type, :value => @journey.class %>
</div>
<div class="actions">
<%= f.submit %>
</div>
<% end %>

<div id="path_map"><%= link_to 'My Path', journey_diary_entries_path(@journey) %></div>
