<!DOCTYPE html>
<body>

    <div class="back-img-journey">
      <div class="logo">
        <%= image_tag ("logo-blue.png")  %>
      </div>
      <div class="hero-inner">
        <div class="hero-copy">
          <h1 class="journey-title"><%= @journey.title %></h1>
            <h2>Written by <%= @user.email %></h2>

        </div>
      </div>

    </div>

    <ul class="navigation">
      <li>
        <%= link_to @user, :"data-no-turbolink" => true do %>
        <span>
        <%=  image_tag "MenuBar-icon-profile.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-profile-hover.png"%>
          <p>My Profile</p>
        </div>
      <% end %>
    </li>

      <li>
        <%= link_to user_journeys_path(@user) do %>
          <span>
          <%=  image_tag "MenuBar-icon-Journey.png"  %>
          </span>
          <div class="menu-out">
            <%= image_tag "MenuBar-icon-Journey-hover.png"%>
            <p>My Journey</p>
          </div>
        <% end %>
      </li>

      <li><a href="#portfolio">
        <span>
        <%=  image_tag "MenuBar-icon-PhotoGallery.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-PhotoGallery-hover.png"%>
          <p>Gallery</p>
        </div>
      </a></li>

      <li><a href="#blog">
        <span>
        <%=  image_tag "MenuBar-icon-timeline.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-timeline-hover.png"%>
          <p>My Timeline</p>
        </div>
      </a></li>

      <li>
        <%= link_to user_favourites_path(current_user), :"data-no-turbolink" => true do %>
        <span>
        <%=  image_tag "MenuBar-icon-favorites.png"  %>
        </span>
        <div class="menu-out">
          <%= image_tag "MenuBar-icon-favorites-hover.png"%>
          <p>Favourites</p>
        </div>
        <% end %>
    </li>
      <!-- <li><a href="#contact">
        <img src="./images/contact.png" />
      </a></li> -->
    </ul>



<div class="journey-wrapper">
  <div class="journey-picture-stat-section">
    <div class="journey-picture journey_aside">
      <%= image_tag @journey.feat_img %>
    </div>

    <div class="journey-stats journey_article">
      <div class="journey-stat">
        <%= image_tag ('Entries_icon_location.png') %>
        <h3 class="journey-stat-name">LOCATION</h3>
        <p class="journey-stat-content"><%= @journey.location %></p>
      </div>
      <div class="journey-stat">
        <%= image_tag ('Entries_icon_time.png') %>
        <h3 class="journey-stat-name">DATES</h3>
        <p class="journey-stat-content">
          <%= "#{@journey.start_date} - #{@journey.end_date}" %>
        </p>
      </div>
      <div class="journey-stat">
        <%= image_tag ('Entries_icon_tag.png') %>
        <h3 class="journey-stat-name">TAGS</h3>
        <div class="activity-tags">
           <% @journey.tags.each do |tag| %>
              <% if tag.body != "recommended" %>
              <span>
                  <%= tag.body %>
              </span>
                <% end %>
          <% end %>

          <% if current_user == @journey.owner %>
            <span class="add-new-tag"><%= link_to "Add Tags" %></span>



            <div class="journey-tag-form">
              <%= form_for [@journey, Tag.new] do |t| %>

              <%= t.text_field :body, :placeholder => 'Descripe your journey' %>
              <%= t.hidden_field :taggable_id, :value => @journey.id %>
              <%= t.hidden_field :taggable_type, :value => @journey.class %>
              <%= t.hidden_field :user_id, :value => current_user.id %>
              <%= t.submit "Add" %>
              <% end  %>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>

  <div class="journey-diaries-section">
    <h1>Diaries</h1>

      <div class="diary_entry_block new_diary_entry_block">
        <%= link_to new_journey_diary_entry_path(@journey), :"data-no-turbolink" => true do %>
          <h2>New Diary</h2>
        <% end %>
      </div>
    <% if @journey.diary_entries.any? %>
        <%= render @diary_entries %>
    <% else %>
      <h2>No diary yet</h2>
    <% end %>

  </div>

  <div class="comment-form-list-section">
    <div class="comment-form journey_aside">
      <%= image_tag ("Entries_SectionTitle_Comments.png") %>
      <% if current_user %>

        <%= form_for [@journey, @comment], :html => {:class => "comment-form"} do |f| %>
        <%= render partial: 'comments/form', locals: { f: f, commentable: @journey} %>
        <% end %>
      <% else %>
        <p>Please <%= link_to "log in", login_path %> to add a comment.</p>
      <% end %>

      <!-- <%= text_area_tag 'body', nil, rows: 10, cols: 25 , class: "comment-form" %> -->
      <div class="submit-comment-button-container">
        <button class="profile-button" href="<%= user_photos_path(@user) %>">SUBMIT</button>
        <a href="<%= user_photos_path(@user) %>"><div class = "button-border" >SUBMIT</div></a>
      </div>
    </div>
    <div class="comment-list journey_article">
      <div class="comment-list-item">
        <%= image_tag ("profile-UserImage-1.png") %>
        <h2 class="commenter-name">User 1 </h2><h4 class="commenter-info">locaton | 2 hours ago</h4>
          <hr class="recomm-underline">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>

      </div>

      <div class="comment-list-item">
        <%= image_tag ("profile-UserImage-1.png") %>
        <h2 class="commenter-name">User 1 </h2><h4 class="commenter-info">locaton | 2 hours ago</h4>
          <hr class="recomm-underline">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>

      </div>

      <div class="comment-list-button-container">
        <button class="profile-button" href="<%= user_photos_path(@user) %>">VIEW MORE</button>
        <a href="<%= user_photos_path(@user) %>"><div class = "button-border" >VIEW MORE</div></a>
      </div>

    </div>
  </div>

</div>


<h1><%= @journey.title %></h1>


<p>Description: <%= @journey.description %></p>
<p>location: <%= @journey.location %></p>
<p>From: <%= @journey.start_date %></p>
<p>To: <%= @journey.end_date %></p>
<p>Owner: <%= @journey.owner.email %></p>


  <h4>Tags :</h4>
    <div id="journey-tags-list" >

        <% @journey.tags.each do |tag| %>
          <% if tag.body != "recommended" %>
            <div class="each-tag">
              <%= tag.body %>
            </div>
          <% end %>
        <% end  %>

  </div>

  <% if current_user == @journey.owner %>
    <div class="add-new-tag">
      <h4><%= link_to "Add Tags" %></h4>
    </div>

  <div class="tag-form">
    <%= form_for [@journey, Tag.new] do |t| %>

    <%= t.label :Description  %>
    <%= t.text_field :body, :placeholder => 'Descripe Your Journey' %>
    <%= t.hidden_field :taggable_id, :value => @journey.id %>
    <%= t.hidden_field :taggable_type, :value => @journey.class %>
    <%= t.hidden_field :user_id, :value => current_user.id %>
    <%= t.submit "Add" %>
    <% end  %>
  </div>
  <% end %>
  <br>

  <% if current_user != @user %>
<% if @journey.favourites.where(user_id: current_user.id).length > 0 %>
  <button class="f-already">
    <span class="fa fa-heart">
      </span>
  </button>
  <div class="favourite-form-already">
    <%= form_for [@journey, @journey.favourites.where(user_id: current_user.id)[0]], method: :delete do |f| %>
    <%= f.button :class => "submit-already" %>
    <% end %>
  </div>
<% else %>
  <button class="no-f-yet">
    <span class="fa fa-heart">
      </span>
  </button>
  <div class="favourite-form">
    <%= form_for [@journey, Favourite.new] do |f| %>
    <%= f.button :class => "f-submit" %>
    <% end %>
  </div>
<% end %>
<% end %>

<div class="recommend">
  <% if current_user != @user %>
  <div class="recommend-form">
    <%= form_for [@journey, Tag.new] do |t| %>
    <%= t.hidden_field :body, :value=> 'recommended' %>
    <%= t.hidden_field :taggable_id, :value => @journey.id %>
    <%= t.hidden_field :taggable_type, :value => @journey.class %>
    <%= t.hidden_field :user_id, :value => current_user.id %>
    <%= t.submit "Recommend" %>
    <% end  %>
  </div>
  <% end %>
</div>

  <br>
  <br>

<h1>Diaries</h1>


<%= link_to 'New Diary', new_journey_diary_entry_path(@journey) %>


  <% if @journey.diary_entries.any? %>
    <ul>
      <li class="all_diaries">
      <%= render @diary_entries %>
      </li>
    </ul>
  <% else %>
    <h2>No diary yet</h2>
  <% end %>



  <a id="demo01" href="#animatedModal">My Path</a>

    <!--DEMO01-->
    <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div class="close-animatedModal">
                Back
        </div>

        <div class="modal-content">
                  <!--Your modal content goes here-->
                  <div id="path_map"><%= link_to 'My Path', journey_diary_entries_path(@journey) %></div>

        </div>
    </div>
  <h4>Add Photos</h4>
    <div class="photo-form">
      <%= form_for @journey.photos.build, html: { multipart: true, id: "my-awesome-dropzone", class: "dropzone"} do |t| %>

      <%= t.label :name  %>
      <br>
      <%= t.text_field :name %>
      <br>
      <div class="dropzone-previews"></div>
      <br>
      <%= t.hidden_field :imageable_id, :value => @journey.id %>
     <%= t.hidden_field :imageable_type, :value => @journey.class %>
      <% end  %>
    </div>

<div class="photo_gallery-button">
  <%= link_to "Photo Gallery", gallery_journey_path(@journey) %>
</div>

<%= render partial: 'comments/list', locals: { commentable: @journey }  %>

<% if current_user %>
  <h4>Write a comment:</h4>
  <%= form_for [@journey, @comment], :html => {:class => "comment-form"} do |f| %>
  <%= render partial: 'comments/form', locals: { f: f, commentable: @journey } %>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", login_path %> to add a comment.</p>

<% end %>

</body>
